.authPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 15px;
}

.authForm {
    width: 100%;
    color: white;
    max-width: 400px;
    padding: 0 15px 15px 15px;
    // background: linear-gradient(45deg, #f1db34c1, #ff3c3cd2);
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(5px);
    border: 3px solid white;
    // height: 60vh;
    border-radius: 10px;
    h2 {
        margin: 15px 0 0 0;
        padding: 0;
    }

    p {
        margin: 10px 0 0 0;
        color: #f3f3f3;
    }

    svg {
        font-size: 22px;
        margin: 15px 0 0 0;
    }

    input {
        background-color: white;
        margin: 5px 0 0 0;
        width: calc(100% - 30px);
        padding: 15px;
        border-radius: 8px;
        border: none;
    }
}

.appContainer {
    padding: 60px 0 1px 0;
}

@media (max-width: 500px) {
    .appContainer {
        padding: 60px 0 1px 0;
    }   
}

hr {
    color: rgb(95, 95, 95); /*для IE */
    background-color:rgb(226, 226, 226); /*для Firefox, Opera, Safari*/
    border:0px none;
    height:2px; /* высота 1px IE, Firefox, Opera, Safari */
    clear:both; /* для очистки, если тег идет после float елемента */
}

.SettingsPage {
    color: white;
    padding: 0 15px;
    max-width: 450px;
    width: 100%;
    
    .settingsContainer {
        max-width: 450px;
        padding: 15px;
        margin: 15px 0 0 0;
        background-color: rgba(0, 0, 0, 0.632);
        backdrop-filter: blur(3px);
        border: 2px solid white;
        border-radius: 8px;
    
        h3, p {
            margin: 0;
            padding: 0;
        }
        
        p {
            color: rgb(191, 191, 191);
            margin: 10px 0 0 0;
        }

        .settingsAvatar:hover {
            transition: .5s;
            opacity: .7;
        }
    }
}


.searchPage {
    color: white;
    padding: 0 15px;
    max-width: 450px;
    width: 100%;
    padding: 15px;
}

.searchForm {
    width: 100%;
    
    .searchField {
        border: none;
        width: 100%;
        margin: 0 1px 0 0;
        padding: 10px;
        border-radius: 8px;
    }

    h2 {
        padding: 0;
        margin: 0;
    }
}

.searchContainer {
    background: white;
    border-radius: 8px;
    padding: 5px;
    width: calc(100% - 10px);
    max-width: 450px;
}

button:focus, button:active {
    outline: none;
}

input:focus {
    outline: none;
}

a:focus, a:active {
    background: none;
    color: initial;
}

.userContainer {
    p {
        margin: 10px 0 5px 0;
        padding: 0;
    }

    .userItem {
        // padding: 0 15px;
        z-index: 1;
        width: 100%;
        margin: 15px 0 0 0;
        color: white;
        h3 {
            margin:  0 0 0 15px;
            width: 100%;
            padding: 0;
        }
    
        p {
            margin: 0;
            padding: 0;
        }
    }
}


.usersPage {
    max-width: 450px;
    width: 100%;
    padding: 0 15px;
}

.searchUsersContainer {
    width: 100%;
    border-radius: 8px;
    color: white;
    padding: 0 15px 15px 15px;
    background: rgba(0, 0, 0, 0.68);
    border: 3px solid white;
    margin: 15px 0 0 0;
    backdrop-filter: blur(4px);
    box-sizing: border-box;
    z-index: 1;
}

.selectorContainer {
    margin: 15px 0 0 0;
    width: 235px;
}

.selectorContainerActive {
    background: white;
    color: black;
}

.selectorItem {
    height: 16px;
    margin: 0 15px 0 0;
    padding: 3px 15px 7px 15px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.ChatsPage {
    // max-width: 450px;
    width: 100%;
    padding: 15px 15px 0;
}

.ChatsPage {

    .chatsContainer {
        width: 100%;
        max-width: 450px;
        background-color: white;
        padding: .1px 15px 15px;
        border-radius: 8px;    
        
        a {
            text-decoration: none;
            color: black;
        }
        
        .chatItem {
            width: 100%;
            max-width: 450px;
            margin: 15px 0 0 0;
            cursor: pointer;

            .chatUserData {
                width: 100%;
                margin: 0 0 0 15px;

                div {
                    height: 100%;
                    flex-direction: column;

                    div {
                        width: 100%;

                        .lastMessage {
                            margin: 4px 0 0 0;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

.ChatPage {
    height: calc(100vh - 75px);
    flex-direction: column;
    padding: 0 15px;
    
    .sendMessageContainer {
        width: 100%;
        margin: 0 5px;
        max-width: 450px;
        background-color: white;
        border-radius: 8px;
        padding: 5px;
        box-sizing: border-box;
        
        input {
            width: 100%;
            border: none;
            font-size: 15px;
            margin: 0 5px;
        }
    }
}

.MessagesArea {
    height: 100%;
    width: 100%;
    max-width: 450px;
    margin: 10px 0;
    overflow-y: auto;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column-reverse;
}

.MessagesArea::-webkit-scrollbar { width: 0; }

.ChatUserInfo {
    display: inline-block;
    padding: 5px;
    border-radius: 100px;
    margin: 15px 0 0 0;
    background-color: white;
    
    .chatUserName {
        margin: 0 10px 0 10px; 
    }
}

.messageFrom {
    display: inline-block;
    padding: 7px 12px;
    border-radius: 20px 20px 8px 20px;
    font-size: 18px;
    background-color: rgb(36, 67, 221);
    max-width: 60%;
    margin-top: 10px;
    overflow: hidden;
    color: white;
}

.messageTo {
    display: inline-block;
    padding: 7px 12px;
    border-radius: 20px 20px 20px 8px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    max-width: 60%;
    margin-top: 10px;
    overflow: hidden;
    color: rgb(0, 0, 0);
}

.OnlineStatus {
    height: 8px;
    width: 8px;
    margin: 0 10px 0 0;
    background-color: rgb(0, 221, 63);
    border-radius: 10px;
}

@media (max-width: 500px) {
    .MessagesArea {
        overflow: scroll;
    }

    .ChatPage {
        height: calc(100vh - 175px);

    }
}