.authPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 15px;
}

.authForm {
    width: 100%;
    color: white;
    max-width: 400px;
    padding: 0 15px 15px 15px;
    // background: linear-gradient(45deg, #f1db34c1, #ff3c3cd2);
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(5px);
    border: 3px solid white;
    // height: 60vh;
    border-radius: 10px;
    h2 {
        margin: 15px 0 0 0;
        padding: 0;
    }

    p {
        margin: 10px 0 0 0;
        color: #f3f3f3;
    }

    svg {
        font-size: 22px;
        margin: 15px 0 0 0;
    }

    input {
        background-color: white;
        margin: 5px 0 0 0;
        width: calc(100% - 30px);
        padding: 15px;
        border-radius: 8px;
        border: none;
    }
}

.appContainer {
    padding: 50px 0 0 0;
}

.SettingsPage {
    color: white;
    padding: 0 15px;
    max-width: 450px;
    width: 100%;
    
    .settingsContainer {
        max-width: 450px;
        padding: 15px;
        margin: 15px 0 0 0;
        background-color: rgba(0, 0, 0, 0.632);
        backdrop-filter: blur(3px);
        border: 2px solid white;
        border-radius: 8px;
    
        h3, p {
            margin: 0;
            padding: 0;
        }
        
        p {
            color: rgb(191, 191, 191);
            margin: 10px 0 0 0;
        }

        .settingsAvatar:hover {
            transition: .5s;
            opacity: .7;
        }
    }
}


.searchPage {
    color: white;
    padding: 0 15px;
    max-width: 450px;
    width: 100%;
    padding: 15px;
}

.searchForm {
    width: 100%;
    
    .searchField {
        border: none;
        width: 100%;
        margin: 0 1px 0 0;
        padding: 10px;
        border-radius: 8px;
    }

    h2 {
        padding: 0;
        margin: 0;
    }
}

.searchContainer {
    background: white;
    border-radius: 8px;
    padding: 5px;
    width: calc(100% - 10px);
    max-width: 450px;
}

button:focus, button:active {
    outline: none;
}

input:focus {
    outline: none;
}

a:focus, a:active {
    background: none;
    color: initial;
}

.userItem {
    padding: 0 15px;
    color: white;
    margin: 15px 0 0 0;
    color: black;
    background: rgb(253, 253, 253);
    h3 {
        margin:  0 0 0 15px;
        width: 100%;
        padding: 0;
    }

    p {
        margin: 0;
        padding: 0;
    }
}

.usersPage {
    max-width: 450px;
    width: 100%;
    padding: 0 15px;
}

.searchUsersContainer {
    width: 100%;
    max-width: 450px;
    background: rgb(253, 253, 253);
    border-radius: 8px;
    padding: 1px 0 15px 0;
    color: white;
    margin: 15px 0 0 0;
}

.selectorContainer {
    margin: 15px 0 0 0;
    width: 235px;
}

.selectorContainerActive {
    background: white;
    color: black;
}

.selectorItem {
    height: 16px;
    margin: 0 15px 0 0;
    padding: 3px 15px 7px 15px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}