.header {
    position: fixed;
    padding: 15px;
    max-height: 20px;
    // background-color: rgb(37, 19, 226);
    background-color: rgba(0,0,0,.6);
    backdrop-filter: blur(4px);
    width: 100%;
    color: white;
    // box-shadow: 0 3px 6px rgba(37, 19, 226, 0.714);

    h3 {
        margin: 0;
        padding: 0;
        margin: 0 0 0 10px;
    }
}

.Beta {
    padding: 3px 5px;
    border: 1px solid white;
    font-size: 9px;
    margin: 0 0 0 10px;
    border-radius: 4px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 100%;
}
  
.content-container {
    width: calc(100% - 40px);
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.headerAvatarImg {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

