.header {
    position: fixed;
    padding: 20px 15px 20px 8px;
    max-height: 20px;
    // background-color: rgba(15, 15, 15, 0.768);
    background-color: rgba(0, 0, 0, 0.707);
    backdrop-filter: blur(4px);
    width: 100%;
    color: white;
    // box-shadow: 0 3px 6px rgba(37, 19, 226, 0.714);

    h3 {
        margin: 0;
        padding: 0;
        margin: 0 0 0 10px;
    }

    z-index: 6;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.53);
}

.Beta {
    padding: 3px 5px;
    border: 1px solid white;
    font-size: 9px;
    margin: 0 0 0 10px;
    border-radius: 4px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 100%;
}
  
.content-container {
    width: calc(100% - 33px);
    padding: 0 0 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerAvatarImg {
    background-clip: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 35px;
    height: 35px;
    border-radius: 8px;
}

.TopMenu {
    a {
        text-decoration: none;
        color: rgb(171, 171, 171);
        margin: 0 20px 0 0;
    }
}